<div @fadeInOut *ngIf="modal" class="modal__background">
  <div @zoomInOut class="modal__container">
    <span class="modal__close" *ngIf="modal.close" (click)="closeModal()"
      >x</span
    >
    <h1 class="modal__title">{{ modal.title }}</h1>
    <h4 class="modal__body">{{ modal.body }}</h4>
    <app-button
      *ngIf="modal.confirm"
      [label]="modal.confirm"
      (submit)="closeModal()"
    ></app-button>
    <app-button
      *ngIf="modal.cancel"
      [label]="modal.cancel"
      (submit)="closeModal()"
    ></app-button>
  </div>
</div>
