PORT=3000
DB_CONNECTION_STRING=mongodb://localhost:27017/
DB_NAME=Scrolls
SIGNATURE=<jsonsignaturetoken>
TOKEN_PASSWORD=<password for creating token> should be encrypted using bcrypt
TOKEN_USERNAME=<username for creating token> should be encrypted using bcrypt
PRODUCTION=false