// COLOURS

// Base Colours
$white: #ffffff;
$black: #2e2e2e;

$grey-100: #f3f3f3;
$grey-500: #c8c8c8;
$grey-800: #808080;

$success-colour: green;
$danger-colour: #df6161;

// Page
$default-page-colour: $grey-100;

// Text
$text-colour: $black;

// Input Colours
$input-border-colour: $grey-500;
$input-background-colour: $white;
$input-label-colour: $black;
$input-box-shadow-colour: $grey-800;
$input-border-radius: 3px;

// FONTS

// Font Family
$font-family: "La Belle Aurore", cursive;
$font-family-external-input: "Open Sans", sans-serif;

// Font Sizes
$font-size-medium: 1rem;
$font-size-large: 1.8rem;

$header-size-small: 2rem;
$header-size-medium: 3rem;

// RESPONSIVE DESIGN

$mobile: 480px;
$tablet: 600px;
$desktop: 1025px;

// @media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
// @media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
// @media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
// @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
// @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
// @media (min-width:1281px) { /* hi-res laptops and desktops */ }