<ul class="nav-bar__container">
  <li
    class="nav-bar__link"
    [routerLink]="['/home']"
    [routerLinkActive]="['active']"
  >
    Home
  </li>
  <app-nav-bar-break></app-nav-bar-break>
  <li
    class="nav-bar__link"
    [routerLink]="['/collections']"
    [routerLinkActive]="['active']"
  >
    Collections
  </li>
  <app-nav-bar-break></app-nav-bar-break>
  <li
    class="nav-bar__link"
    [routerLink]="['/about']"
    [routerLinkActive]="['active']"
  >
    About
  </li>
  <app-nav-bar-break></app-nav-bar-break>
  <li
    class="nav-bar__link"
    [routerLink]="['/contact']"
    [routerLinkActive]="['active']"
  >
    Contact
  </li>
</ul>

