<div class="about__page-wrapper">
  <app-nav-bar></app-nav-bar>
  <div class="about__content-wrapper">
    <app-page-title>About</app-page-title>

    <p class="about__paragraph">
      <img
        class="about__image"
        src="https://lh3.googleusercontent.com/d/1OxTe7jS0sX_plnvL9mHGK1nucSvLvqSo"
        referrerpolicy="no-referrer"
      />
      Adipisicing cupidatat ad anim id aliqua et fugiat. Qui incididunt commodo
      aute occaecat id quis et. Excepteur pariatur aute tempor laborum eu
      eiusmod dolore occaecat deserunt veniam fugiat in qui voluptate. Ipsum
      nostrud in est in elit pariatur cupidatat consectetur do id voluptate.
      Mollit fugiat ea enim aliqua. Quis consequat qui ipsum et voluptate qui in
      esse non in excepteur. Incididunt aliqua tempor velit magna nulla. Irure
      culpa laborum consequat ea pariatur deserunt. Voluptate laboris ipsum
      mollit culpa excepteur aute. Lorem pariatur eiusmod Lorem nisi mollit
      proident. In laboris nostrud magna irure voluptate. Duis sunt ex quis
      commodo velit incididunt officia et minim velit. Commodo reprehenderit
      consectetur veniam consequat. Officia reprehenderit enim culpa dolor
      voluptate fugiat. Sunt incididunt et sint elit deserunt fugiat irure
      voluptate proident enim aliqua cupidatat. Ex nulla culpa esse occaecat.
      Voluptate laborum dolore et mollit ad. Aliqua reprehenderit Lorem dolore
      qui est incididunt enim tempor. Nulla aute reprehenderit deserunt ex sunt
      tempor dolore anim minim non. Amet ex sit qui esse magna dolor. Minim
      reprehenderit enim ipsum consequat anim id. Mollit magna mollit consequat
      ea exercitation adipisicing eiusmod eiusmod pariatur proident aliquip
      excepteur. Qui minim esse quis non ex voluptate culpa ullamco cupidatat.
    </p>
  </div>
</div>
